/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    margin: 0;
    padding: 0;
    
    
}

body{

    flex-direction: column;
}

body > nav > div {
    background-color: #540B51;
    flex-direction: column;
} 

body {
    width: 98vw;
}

nav {
    background-color: #540B51;
    padding: 3vh;
}

.logo {
    width: 10vh;
}

.search-top {
    display: flex;
    justify-content: space-between
}

header > div, .purple-background {
    background-color: #540B51;
    color: white;
}

.great-teamwork {
    width: 100vh;
}

.great-teamwork h1 {
    font-size: 3rem;
}

.slack-screenshot,
 .connected-pic, 
 .flexible-mobile-pic, 
 .speed-mobile-pic {
    width: 98vw;
}

.ivory-background {
    background-color: #F3EAE2;
}

.ivory-background img {
    width: 23%;
}

.company-logos {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 10vh;
}

.company-logos > img {
    height: 3vh;
}

.great-teamwork{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 98vw;
}

.great-teamwork b {
    color:#ECB12F;
}

.googlelogo{
    width: 2vh;
    background-color: white;
    display: flex;
}

.signgoogle{
    display: flex;
    align-items: center;
    padding: 6px 32px;
    background-color: #4285F4;
    border-color: #4285F4;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    
}

.signupButtons{
    display: flex;
    justify-content: center;

}

.emailButton{
    background-color: white;
    padding: 10px 50px;
    border-color: white;
    margin-top: 10px;
    cursor: pointer;
}

.ivory-background > p {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 98vw;
}

.choose, .bring, .move {
    background-color:#F3EAE2 ;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.teams {
    padding-top: 5vw;
    padding-bottom: 5vw;

    margin: 0 auto;
     width: 98vw; 
     text-align: center;

     position: relative;
     display: flex;
     flex-direction: column;
    align-items: center;
     
}

.teams > h3 {
    
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.teams p {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.teams button {
    margin: 0.8%;
    width: 50vw;
    height: 4rem;
    font-size: 1.5rem
}
.teams ul {
    list-style-type: none
}

.teams ul p {
    font-size:x-small;
    font-weight: bold;
}
.teams ul span{
    font-size: 3.5rem;
    color: #540B51;
}

.purple-background {
    width: 98vw
}

@media (max-width: 500px) {
    body {
        color: #4285F4;
    }
}